
<div>
    <h2><span data-translate="quizcatApp.attachment.detail.title">Attachment</span> {{vm.attachment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="quizcatApp.attachment.name">Name</span></dt>
        <dd>
            <span>{{vm.attachment.name}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.imagePath">Image Path</span></dt>
        <dd>
            <span>{{vm.attachment.imagePath}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.image">Image</span></dt>
        <dd>
            <div ng-if="vm.attachment.image">
                <a ng-click="vm.openFile(vm.attachment.imageContentType, vm.attachment.image)">
                    <img data-ng-src="{{'data:' + vm.attachment.imageContentType + ';base64,' + vm.attachment.image}}" style="max-width: 100%;" alt="attachment image"/>
                </a>
                {{vm.attachment.imageContentType}}, {{vm.byteSize(vm.attachment.image)}}
            </div>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.attachmentPath">Attachment Path</span></dt>
        <dd>
            <span>{{vm.attachment.attachmentPath}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.attachment">Attachment</span></dt>
        <dd>
            <div ng-if="vm.attachment.attachment">
                <a ng-click="vm.openFile(vm.attachment.attachmentContentType, vm.attachment.attachment)" data-translate="entity.action.open">open</a>
                {{vm.attachment.attachmentContentType}}, {{vm.byteSize(vm.attachment.attachment)}}
            </div>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.contentType">Content Type</span></dt>
        <dd>
            <span>{{vm.attachment.contentType}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.comment">Comment</span></dt>
        <dd>
            <span>{{vm.attachment.comment}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.attachment.question">Question</span></dt>
        <dd>
            <a ui-sref="question-detail({id:vm.attachment.question.id})">{{vm.attachment.question.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="attachment-detail.edit({id:vm.attachment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
