<div>
    <h2 data-translate="quizcatApp.attachment.home.title">Attachments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="attachment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="quizcatApp.attachment.home.createLabel">
                        Create new Attachment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="quizcatApp.attachment.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagePath"><span data-translate="quizcatApp.attachment.imagePath">Image Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="quizcatApp.attachment.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attachmentPath"><span data-translate="quizcatApp.attachment.attachmentPath">Attachment Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attachment"><span data-translate="quizcatApp.attachment.attachment">Attachment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentType"><span data-translate="quizcatApp.attachment.contentType">Content Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span data-translate="quizcatApp.attachment.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="question.id"><span data-translate="quizcatApp.attachment.question">Question</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attachment in vm.attachments track by attachment.id">
                    <td><a ui-sref="attachment-detail({id:attachment.id})">{{attachment.id}}</a></td>
                    <td>{{attachment.name}}</td>
                    <td>{{attachment.imagePath}}</td>
                    <td>
                        <a ng-if="attachment.image" ng-click="vm.openFile(attachment.imageContentType, attachment.image)">
                            <img data-ng-src="{{'data:' + attachment.imageContentType + ';base64,' + attachment.image}}" style="max-height: 30px;" alt="attachment image"/>
                        </a>
                        <span ng-if="attachment.image">{{attachment.imageContentType}}, {{vm.byteSize(attachment.image)}}</span>
                    </td>
                    <td>{{attachment.attachmentPath}}</td>
                    <td>
                        <a ng-if="attachment.attachment" ng-click="vm.openFile(attachment.attachmentContentType, attachment.attachment)" data-translate="entity.action.open">open</a>
                        <span ng-if="attachment.attachment">{{attachment.attachmentContentType}}, {{vm.byteSize(attachment.attachment)}}</span>
                    </td>
                    <td>{{attachment.contentType}}</td>
                    <td>{{attachment.comment}}</td>
                    <td>
                        <a ui-sref="question-detail({id:attachment.question.id})">{{attachment.question.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="attachment-detail({id:attachment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attachment.edit({id:attachment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attachment.delete({id:attachment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
