
<div>
    <h2><span data-translate="quizcatApp.quiz.detail.title">Quiz</span> {{vm.quiz.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="quizcatApp.quiz.generateDate">Generate Date</span></dt>
        <dd>
            <span>{{vm.quiz.generateDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.quiz.timeLimit">Time Limit</span></dt>
        <dd>
            <span>{{vm.quiz.timeLimit}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.quiz.description">Description</span></dt>
        <dd>
            <span>{{vm.quiz.description}}</span>
        </dd>
        <dt><span data-translate="quizcatApp.quiz.question">Question</span></dt>
        <dd>
            <span ng-repeat="question in vm.quiz.questions">
                <a ui-sref="question-detail({id: question.id})">{{question.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="quizcatApp.quiz.label">Label</span></dt>
        <dd>
            <span ng-repeat="label in vm.quiz.labels">
                <a ui-sref="label-detail({id: label.id})">{{label.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="quiz-detail.edit({id:vm.quiz.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
