
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuizLabel" data-translate="quizcatApp.quiz.home.createOrEditLabel">Create or edit a Quiz</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.quiz.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.quiz.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.quiz.generateDate" for="field_generateDate">Generate Date</label>
                <div class="input-group">
                    <input id="field_generateDate" type="text" class="form-control" name="generateDate" datetime-picker="{{dateformat}}" ng-model="vm.quiz.generateDate" is-open="vm.datePickerOpenStatus.generateDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('generateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.quiz.timeLimit" for="field_timeLimit">Time Limit</label>
            <input type="number" class="form-control" name="timeLimit" id="field_timeLimit"
                    ng-model="vm.quiz.timeLimit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.quiz.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.quiz.description"
                     />
        </div>

        <div class="form-group">
            <label data-translate="quizcatApp.quiz.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" multiple name="question" ng-model="vm.quiz.questions" ng-options="question as question.id for question in vm.questions track by question.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="quizcatApp.quiz.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" multiple name="label" ng-model="vm.quiz.labels" ng-options="label as label.id for label in vm.labels track by label.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
