<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span jhiTranslate="quizcatApp.question.detail.title">Question</span> {{question.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quizcatApp.question.summary">Summary</span></dt>
                <dd>
                    <span>{{question.summary}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.description">Description</span></dt>
                <dd>
                    <span>{{question.description}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.objective">Objective</span></dt>
                <dd>
                    <span>{{question.objective}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.keyAnswer">Key Answer</span></dt>
                <dd>
                    <span>{{question.keyAnswer}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.answerSize">Answer Size</span></dt>
                <dd>
                    <span jhiTranslate="{{'quizcatApp.AnswerSize.' + question.answerSize}}">{{question.answerSize}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.answerDescription">Answer Description</span></dt>
                <dd>
                    <span>{{question.answerDescription}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.expectedTime">Expected Time</span></dt>
                <dd>
                    <span>{{question.expectedTime}}</span>
                </dd>
                <dt><span jhiTranslate="quizcatApp.question.label">Label</span></dt>
                <dd>
                    <span *ngFor="let label of question.labels; let last = last">
                        <a [routerLink]="['/label', label?.id, 'view' ]">{{label.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
