
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" data-translate="quizcatApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.summary" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                    ng-model="vm.question.summary"
                    required />
            <div ng-show="editForm.summary.$invalid">
                <p class="help-block"
                    ng-show="editForm.summary.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.question.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.objective" for="field_objective">Objective</label>
            <input type="text" class="form-control" name="objective" id="field_objective"
                    ng-model="vm.question.objective"
                    required />
            <div ng-show="editForm.objective.$invalid">
                <p class="help-block"
                    ng-show="editForm.objective.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.keyAnswer" for="field_keyAnswer">Key Answer</label>
            <input type="text" class="form-control" name="keyAnswer" id="field_keyAnswer"
                    ng-model="vm.question.keyAnswer"
                    required />
            <div ng-show="editForm.keyAnswer.$invalid">
                <p class="help-block"
                    ng-show="editForm.keyAnswer.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.answerSize" for="field_answerSize">Answer Size</label>
            <select class="form-control" name="answerSize" ng-model="vm.question.answerSize" id="field_answerSize" required>
                <option value="XS" data-translate="quizcatApp.AnswerSize.XS">XS</option>
                <option value="S" data-translate="quizcatApp.AnswerSize.S">S</option>
                <option value="M" data-translate="quizcatApp.AnswerSize.M">M</option>
                <option value="L" data-translate="quizcatApp.AnswerSize.L">L</option>
                <option value="XL" data-translate="quizcatApp.AnswerSize.XL">XL</option>
            </select>
            <div ng-show="editForm.answerSize.$invalid">
                <p class="help-block"
                    ng-show="editForm.answerSize.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.answerDescription" for="field_answerDescription">Answer Description</label>
            <input type="text" class="form-control" name="answerDescription" id="field_answerDescription"
                    ng-model="vm.question.answerDescription"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quizcatApp.question.expectedTime" for="field_expectedTime">Expected Time</label>
            <input type="number" class="form-control" name="expectedTime" id="field_expectedTime"
                    ng-model="vm.question.expectedTime"
                     />
        </div>

        <div class="form-group">
            <label data-translate="quizcatApp.question.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" multiple name="label" ng-model="vm.question.labels" ng-options="label as label.id for label in vm.labels track by label.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
